.footerAll {
    background-color: #42bec3;
    width:100%;
    min-height: 40px;
    max-width: 600px;
    position:fixed;
    bottom:0px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.fa-2x {
    color: #1a1423;
}

.iconsAll {
    display: flex;
}

.profileDiv {
    margin-left: 50px;
    padding: 2px 8px;
}

.homeDiv {
    margin-right: 50px;
    padding: 2px 8px;
}
