.footerAll {
    background-color: #42bec3;
    width:100%;
    min-height: 40px;
    max-width: 600px;
    position:fixed;
    bottom:0px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.iconsAll {
    display: flex;
}

.profileDiv {
   margin: 0 auto;
   padding: 2px 25px;
}

.homeDiv {
   margin: 0 auto;
   padding: 2px 25px;
}

.aboutDiv {
   margin: 0 auto;
   padding: 2px 25px;
}

.homeDiv a {
   color: rgb(26, 20, 35); 
}

.aboutDiv a {
    color: rgb(26, 20, 35);
}

.profileDiv a {
    color: rgb(26, 20, 35);
}