.footerAll {
    background-color: #42bec3;
    width:100%;
    min-height: 50px;
    max-width: 600px;
    position:fixed;
    bottom:0px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.homeDiv {
    color: #1a1423;
}

.cartDiv {
    color: #1a1423;
}

.profileDiv {
    color: #1a1423;
    
}

.iconsAll {
    display: flex;
}

.iconDiv {
    min-width: 90px;
    margin-right: 10px;
}

.iconDiv:last-child {
    margin-right: 0px;
    
}