.squareDiv {
    height: 30vw;
    width: 30vw;
    background-color: yellow;
    margin: 3px;
    max-height: 190px;
    max-width: 190px;
}

.containerDiv {
    background-color: green;
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
}
