.squareDiv {
    height: 30.52vw;
    width: 30.52vw;
    margin: 3px;
    max-height: 190px;
    max-width: 190px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.containerDiv {
    background-color: white;
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
}
