
.headerAll {
    background-color: green;
    min-height: 80px
}

.logoDiv {
    background-color: #1a1423;
    min-height: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 3vw;
}

.backButton {
    float: left;
    margin-left: 2em;
}