.profileAll {
    margin-top: 90px;
    margin-bottom: 55px;
    max-width: 600px;
    margin:auto;
}

.profilePic {
    border-radius: 50%;
    margin: auto 4%;
    border: 3px solid #52386d;
}

.textAll {
    line-height: 80%;
    margin: auto;
    display: column;
    text-align: left;
    margin-left: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.profileRow {
    display: flex;
    background-color: #ecdded;
    margin-top: 85px;
}

.squareLikes {
    height: 30.52vw;
    width: 30.52vw;
    background-color: pink;
    margin: 3px;
    max-height: 190px;
    max-width: 190px;
}

.containerLikes {
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
    margin-top: 3px;
}
