.searchBox {
  width: 100%;
  clear: both;
  text-align: left;
}


.inputDiv {
  padding-left: 2%;
  height: 34px;
  border-width: 0;
  background-color: rgb(164, 222, 224);
  color: #1d1d1d;
  width: 100%;
  margin-right: -31px;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFF;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFF;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFF;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FFF;
}

.searchButton {
height: 36px;
width: 40px;
background-color: #42bec3;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.81);
color: #FFF;
cursor: auto;
border: 1px solid #42bec3;
margin-right: -75px;
}

.inputDiv:focus, .searchButton:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
