html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  position: relative;
}

.App {
  text-align: center;
  height: 100%;
  justify-content:center;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
}

.main-content {
  padding-bottom: 80px;
  padding-top: 80px;
}