.App {
  text-align: center;
  height: 100vh;
  justify-content:center;
  background: url('/shoestagram/src/images/bbd.jpg');
  max-width: 600px;
  position: relative;
  margin: 0 auto;
}

/*@media (min-width:601px) {*/
/*  .App {*/
/*    background-color: red;*/
/*    margin: 0 10%;*/
      max-width:100%
/*  }*/
/*}*/
